<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.1098052959751-4r3i01crr8e5gfi9vd9q25jde3schn5n</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>1098052959751-4r3i01crr8e5gfi9vd9q25jde3schn5n.apps.googleusercontent.com</string>
</dict>
</plist>
